# AWS
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
AWS_S3_BUCKET="damg7245-a3-store"

# JWT Authentication - openssl rand -hex 32
JWT_SECRET_KEY=""

# Streamlit
BACKEND_URI="http://localhost:8000"

# Milvus Cloud
MILVUS_CLOUD_USER=""
MILVUS_CLOUD_PASSWORD=""
MILVUS_API_KEY=""
MILVUS_CLOUD_URI=""

# Snowflake
SNOWFLAKE_DB_USER=""
SNOWFLAKE_DB_PASSWORD=""
SNOWFLAKE_DB_ACCOUNT=""
